---
import Navbar from "../components/navbar/Navbar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<Navbar title="Index.astro" />
	<div>Contenido</div>
	<div>Footer</div>
</Layout>
