---
import Navbar from "../components/navbar/Navbar.astro"
import Layout from "../layouts/Layout.astro"
import Main from "../javascript/Main"

Main()

---

<Layout>
	<Navbar title="Index.astro" />
	<div>Contenido</div>
	<div>Footer</div>
</Layout> 
